<form id='sign' method="post" action="/users/forgot">
    <p>please enter your email below</p>
    <table>
        <tr>
            <td>
                <i class="fas fa-envelope-open-text"></i>
                <input name='email'type="email" placeholder="email" required>
            </td>
        </tr>
    </table>
    <input class="signBtn" name="forgot" type="submit" value="Submit">
</form>