<div id="home-body">
    <div id="home-container">
        <div id='ositrade-introduction'>
            <p >
                test Io is a test-site I built with <span class="little-emphasis">Node js</span> and I will love you to go through the site and <span class="emphasis">Test everything</span> I will appreciate your response in regards to the following;
            </p>
            <ul id="ositrade-offers">
                <li> How fast the site is (Load speed)</li>
                <li> Efficiency of the functionalities</li>
                <li> Your rating of the User Interface</li>
                <li> Your suggestions would also be deeply appreciated</li>
            </ul>
            <p id='welcome'>Please feel free to Sign up, Sign in and test</p>
            <span class="mild-emphasis">Hope to get your response. Best regards</span>
            {{#if user}}
                
            {{else}}
                <div id="button-holders">
                <a class="home-button" href="/users/register" role="button">Sign up</a>
                <a class="home-button" href="/users/login" role="button">Sign in</a>
                </div>
            {{/if}}
        </div>
    </div>
    <footer id="home-footer">
        <p>
            test Io
        </p>
    </footer>
</div>