<div id="home-body">
    <div id="home-container">
        <div id='ositrade-introduction'>
            <p >
                Réinventons la <span class="little-emphasis">confiance</span> dans <span class="emphasis">le commerce Agro-Alimentaire</span> Une nouvelle façon de sécuriser les affaires de la ferme à la table!
            </p>
            <ul id="ositrade-offers">
                <li> Plateforme de courtage en ligne (basée sur le cloud, SaaS)</li>
                <li> Acheteurs et vendeurs publient leur prix.</li>
                <li> Les acheteurs définissent leurs spécifications de  qualité
                (basées sur les "Contrats de Paris")</li>
                <li> les industriels peuvent aussi offrir des co-produits (tourteaux, sons, issues, radicelles, orgettes, voire drêches)</li>
            </ul>
            <p id='welcome'>Bienvenue sur la Plateforme Ositrade!</p>
            <span class="mild-emphasis">Choisissez, cliquez, signez ! En toute sécurité.</span>
            <div id="button-holders">
                <a class="home-button" href="/users/register" role="button">S'inscrire</a>
                <a class="home-button" href="/users/login" role="button">Se connecter</a>
            </div>
            <p>
                <img id="ositrade-icons" src="/images/ositradecloud.png">
            </p>
        </div>
        <img id="ositrade-desktop" src="/images/ositradedesktop.png">
    </div>
    <footer id="home-footer">
        <p>
            Ositrade
        </p>
    </footer>
</div>