<form method="post" action="/users/login">
    <tr>
        <td><input name='username'type="text" placeholder="Username" required></td>
        <td><input name='password'type="password" placeholder="Password" required></td>
    </tr>
    <input name="login" type="submit" value="Login">
</form>