<div id="profile-table">
    <div id="name">
        <i class="fas fa-user"></i>
        <p>
            <span>{{user.firstName}}</span>
            <span> {{user.lastName}} </span>
        </p>
    </div>
    <div id="contact-info">
        <div class="contact">
            <i class="fas fa-phone-alt"></i>
            <div>
                <p>MOBILE</p>
                <p><b>{{phone}}</b></p>
            </div>
        </div>
        <div class="contact">
            <i class="fas fa-envelope-open-text"></i>
            <div>
                <p>EMAIL</p>
                <p><b>{{user.email}}</b></p>
            </div>
        </div>
    </div>
    
</div>
<footer id="home-footer">
    <p>
        test Io
    </p>
</footer>


