<form method="post" action="/users/register">
    <tr>
        <td><input name='createUsername'type="text" placeholder="Create Username" required></td>
        <td><input name='createPassword'type="password" placeholder="Create Password" required></td>
    </tr>
    <input name='register' type="submit" value="Register">
</form>