#topMenu{
    width:100%;
    margin:0;
    background-color: rgba(255, 255, 255);
    display: flex;
    justify-content:space-between ;
    align-items: center;
    color:black;
}
#topMenu div{
    color:grey;
    margin:0;
    padding:0;
    display: flex;
    justify-content: flex-start;
    width:30%;
    align-items: center;
}
#one {
    display:flex;
    justify-content: space-between;
}
::placeholder {
    color: white;
  }
#topMenu div a{
    margin:0 10px;
    color:grey;
    text-decoration:none;
    font-size:18px;
}
#topMenu div a:active{
    color:rgb(151, 151, 255);
}
#one p{
    margin-right:10px;
}
#topMenu div a:hover{
    color:rgb(151, 151, 255);
}
#ositrade-logo{
    width:auto;
    height: 50px;
}
#nav-profile{
    display:none;
    flex-direction:column;
    position:absolute;
    width:8%;
    height:100px;
    top:60px;
    right:20%;
    box-sizing: border-box;
    box-shadow: #6c757d 0 5px 10px;
    background-color: white;
}
#nav-profile a{
    display:flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    color:grey;
    text-decoration:none;
}
#nav-profile a:hover{
    background:rgb(223, 219, 219);
}
/* style for the home page */
body{
    padding:0;
    background-image:url('/images/home.jpg');
    background-size: 100% ;
    color:white;
    font-family: "Gotham", "Gotham Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#home-container{
    display:flex;
    justify-content: space-between;
    width:95%;
    padding:50px 0;
    margin:0 auto;

}
#ositrade-introduction{
    width:45%;
}
#ositrade-desktop{
    width: 50%;
    height: auto;
}
#ositrade-icons{
    width:100%;
    height: auto;
}
#welcome{
    font-size:44px;
    font-weight: bold;
}
.emphasis{
    font-size:28px;
    font-weight: bold;
}
.little-emphasis{
    font-size:20px;
    font-weight: bold
}
.mild-emphasis{
    font-size:22px;
}
#ositrade-offer li{
    font-size:14px;
}
#button-holders{
    width:90%;
    display: flex;
    justify-content: center;
    margin:40px 0;
}
.home-button{
    padding:10px;
    text-decoration: none;
    border:1px solid white;
    border-radius:18px;
    margin:0 10px;
    color:white;
}
#home-footer{
    width:95%;
    color:#6c757d;
    display: flex;
    justify-content: center;
    
}
/* sign up & sign in */
#sign{
    margin-top:100px;
    margin-left:50px;
    width:60%;
}
#sign table{
    width:100%;
    padding:0;
    margin:0;
}
#sign table tr{
    width:100%;
    padding:0;
    margin:0;
}
#sign table tr td{
    width:50%;
    padding:0;
    margin:0;
}
#sign table tr td i{
    margin-right:10px;
}
#sign table tr td input{
    outline: none;
    width:80%;
    height:30px;
    background-color:transparent;
    font-size:20px;
    border:none;
    border-bottom:1px solid white;
    margin-bottom:30px;
    font-weight: 600px;
    color:white
}
.signBtn{
    float:right;
    margin-right:10%;
    width:20%;
    height:35px;
    border-radius: 4px;
    background-color: rgba(22, 168, 236, 0);
    color:white;
    font-size:20px;
    border:1px solid white;
}

.scrape{
    display:flex;
    align-items: center;
    width:80%;
    background:transparent;
    height: 30px;
    border:1px solid white;
    border-radius: 25px;
}
#scrapeIn{
    width:70%;
    background:transparent;
    height: 27px;
    border:none;
    padding:0 20px;
    color:white;
    font-size: 20px;
    overflow: scroll;
}
#scrapeBtn{
    width:16%;
    background:transparent;
    border:none;
    font-size: 20px;
    border-left:1px solid white;
    color:white;
    height: 27px;
    cursor: pointer;
}
#profile-table{
    margin-top:40px;
}
.warning{
    color:red;
}
#profile-table{
    width:40%;
}
#name{
    width:80%;
    margin:0 auto;
}
#name i {
    margin:0 auto;
    display:flex;
    text-align: center;
    justify-content: center;
    padding:auto auto;
    background: rgb(89, 147, 240);
    width:50%;
    height: 120px;
    font-size:100px;
    border-radius: 50px;
}
#name p{
    margin:0 auto;
    font-size:30px;
    display:flex;
    text-align: center;
    justify-content: center;
    width:80%;

}
#name p span{
    margin:10px
}
#contact-info{
    border:1px solid rgb(89, 147, 240);
    box-sizing: border-box;
    box-shadow:10px 10px 10px rgb(89, 147, 240);
    display:flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    width:80%;
    border-radius:20px;
    margin:20px auto;
}
.contact{
    display:flex;
    flex-direction:row;
    width:90%;
    margin:10px auto;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.contact div{
    display: flex;
    width:90%;
    flex-direction: column;
}
.contact div  p{
    margin:0;

}
.contact div i{
    align-self: center;
    text-align: center;
}

@media screen and (max-width: 480px) {
        body{
            margin:0;
            padding:0;
            background-size:auto;
            width:100%;
            background-position-x: 800px;
        }
        #topMenu{
            width:100%;
            margin:0;
        }
        #topMenu div a{
            margin:0 3px;
            
            font-size:18px;
        }
        #nav-profile{
            width:20%;
            right: 15%;
        }
        #greeting{
            display:none;
        }
        #ositrade-introduction{
            width:100%;
        }
        #ositrade-desktop{
            display: none;
        }
        #welcome{
            font-size:28px;
        }
        .emphasis{
            font-size:20px;
            font-weight: bold;
        }
        .little-emphasis{
            font-size:16px;
            font-weight: bold
        }
        .mild-emphasis{
            font-size:18px;
        }
        .scrape{
            width:99%;
            margin:0 auto;
        }
        #scrapeBtn{
            width:25%;
        }
        #sign{
            width:100%;
            margin:50px auto;
            padding:0;
            
        }
        #sign table{
            width:100%;
        }
        #sign table tr{
            display:flex;
            flex-direction: column;
        }
        #sign table tr td{
            width:90%;
            padding: 0 10px;
            margin:10px auto;
            border-radius: 25px;
        }
        #sign table tr td input{
            width:80%;
        }
        .signBtn{
            width: 30%;
        }
        #signUpWarn{
            margin:0 30px;
        }
        #profile-table{
            width:100%;
            margin:50px 0;
        }
    }
